snowflake-connector-python
# chromadb
openai
psycopg2-binary
db-dtypes
db-dtypes
python-dotenv
requests
tabulate
plotly
pandas>=2.2.1
sqlparse
kaleido
flask
flask-sock
sqlalchemy
langchain[all]>=0.1.12
langchain-openai>=0.0.8
langchain-experimental>=0.0.54
sentence-transformers>=2.7.0
flasgger
pgvector